﻿@model SMClubs.Models.Instrument

@{
    ViewData["Title"] = "Delete Instrument";
}

<h1>Delete Instrument</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Instrument</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InstrumentId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InstrumentId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InstrumentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
