﻿@model SMClubs.Models.Instrument

@{
    ViewData["Title"] = "Instrument Details";
}

<h1>Instrument Details</h1>

<div>
    <h4>Instrument</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InstrumentId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InstrumentId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstrumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
