﻿@model SMClubs.Models.Style

@{
    ViewData["Title"] = "Create Style";
}

<h1>Create Style</h1>

<h4>Style</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="StyleName" class="control-label"></label>
				<input asp-for="StyleName" class="form-control" />
				<span asp-validation-for="StyleName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StyleName" class="control-label"></label>
				<input asp-for="StyleName" class="form-control" />
				<span asp-validation-for="StyleName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
