﻿@model SMClubs.Models.Style

@{
    ViewData["Title"] = "Delete Style";
}

<h1>Delete Style</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Style</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StyleName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StyleName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
	</dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StyleName" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
