﻿@model SMClubs.Models.Style

@{
    ViewData["Title"] = "Style Details";
}

<h1>style Details</h1>

<div>
    <h4>Style</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StyleName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StyleName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StyleName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
