﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMClubs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SMClubs</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<partial name="_LoginPartial" />
					<ul class="navbar-nav flex-grow-1">
						<!--Adding countries to menu bar -->
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="SMCountry" asp-action="Index">Countries</a>
						</li>
						<!--Adding Instruments to menu bar-->
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="SMInstruments" asp-action="Index">Instruments</a>
						</li>
						<!--Adding styles to menu bar-->
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="SMStyle" asp-action="Index">Styles</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<footer class="border-top footer text-muted">
		<div class="container">
			<!--changing the footer to intital-->
			&copy;  <a href="mailto:smasuram7534@conestogac.on.ca">Sai Ramana Masuram - CAD Fall 2020</a>
			<!--Adding privacy and home to footer by providing necessary controllers and actions-->
			<a class="float-right" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			<a class="float-right pr-3" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
		</div>
	</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
